{
    "env": {
        "browser": true,
        "jest": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "eslint-config-prettier",
        "plugin:react/recommended",
        "prettier/react"
    ],
    "rules": {
        "strict": ["error", "never"],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "plugins": ["react-hooks", "babel"],
    "ignorePatterns": ["src/serviceWorker.js", "src/index.js"],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
